[submodule "05_PMW3360/STM32-PMW3360-SPI/Drivers/PMW3360"]
	path = 05_PMW3360/STM32-PMW3360-SPI/Drivers/PMW3360
	url = https://github.com/SunjunKim/PMW3360.git
[submodule "01_BMI160/STM32-BMI160-I2C/Drivers/BMI160_SensorAPI"]
	path = 01_BMI160/STM32-BMI160-I2C/Drivers/BMI160_SensorAPI
	url = https://github.com/boschsensortec/BMI160_SensorAPI
